CONFIG_LOG_DEFAULT_LEVEL_NONE=y
CONFIG_LOG_DYNAMIC_LEVEL_CONTROL=n
# CONFIG_FREERTOS_GENERATE_RUN_TIME_STATS=n
CONFIG_FREERTOS_TASK_FUNCTION_WRAPPER=n
CONFIG_BT_NIMBLE_LOG_LEVEL=0
CONFIG_BT_NIMBLE_LOG_LEVEL_NONE=y
CONFIG_CONSOLE_UART_NONE=y
CONFIG_BOOTLOADER_LOG_LEVEL_NONE=y
CONFIG_ESP_CONSOLE_UART_DEFAULT=n
CONFIG_ESP_CONSOLE_UART_NONE=y
CONFIG_USJ_ENABLE_USB_SERIAL_JTAG=n
CONFIG_ESP_CONSOLE_USB_SERIAL_JTAG=n
CONFIG_ESP_CONSOLE_USB_SERIAL_JTAG_ENABLED=n
CONFIG_LOG_DEFAULT_LEVEL_NONE=y
CONFIG_LOG_DYNAMIC_LEVEL_CONTROL=n
CONFIG_LOG_TAG_LEVEL_IMPL_NONE=y
CONFIG_COMPILER_OPTIMIZATION_PERF=y
CONFIG_COMPILER_OPTIMIZATION_ASSERTIONS_SILENT=y
CONFIG_CONFIG_ESP_ERR_TO_NAME_LOOKUP=n
CONFIG_BT_NIMBLE_PRINT_ERR_NAME=n
CONFIG_MBEDTLS_ERROR_STRINGS=n

CONFIG_SECURE_BOOT=y