CONFIG_BT_ENABLED=y
CONFIG_BT_NIMBLE_ENABLED=y
CONFIG_BT_NIMBLE_50_FEATURE_SUPPORT=n
CONFIG_BT_NIMBLE_EXT_ADV=y
CONFIG_BT_NIMBLE_SM_LEGACY=n
CONFIG_BT_NIMBLE_SM_SC=y
CONFIG_BT_NIMBLE_LL_CFG_FEAT_LE_ENCRYPTION=y
CONFIG_BT_NIMBLE_TRANSPORT_EVT_SIZE=255
CONFIG_BT_NIMBLE_LOG_LEVEL=3
CONFIG_BT_NIMBLE_MAX_CONNECTIONS=2
CONFIG_BT_NIMBLE_MAX_BONDS=3
CONFIG_BT_NIMBLE_MAX_CCCDS=0
CONFIG_BT_NIMBLE_NVS_PERSIST=y
CONFIG_BT_NIMBLE_SMP_ID_RESET=y
CONFIG_BT_NIMBLE_STATIC_TO_DYNAMIC=n
CONFIG_LIBC_NEWLIB=y
CONFIG_ESPTOOLPY_HEADER_FLASHSIZE_UPDATE=y
CONFIG_ESPTOOLPY_BEFORE_NORESET=n
CONFIG_ESPTOOLPY_AFTER_NORESET=y
CONFIG_BOOTLOADER_APP_ROLLBACK_ENABLE=y
CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_FREERTOS_USE_TIMERS=n
CONFIG_BOOTLOADER_LOG_VERSION_2=y
CONFIG_BOOTLOADER_LOG_VERSION=2
CONFIG_ESP_SYSTEM_PANIC_PRINT_REBOOT=y
CONFIG_ESP_SYSTEM_PANIC_PRINT_REBOOT=y
CONFIG_ESP_SYSTEM_PANIC_REBOOT_DELAY_SECONDS=5

#CONFIG_ESP_CONSOLE_UART_DEFAULT=y
#CONFIG_FREERTOS_TASK_FUNCTION_WRAPPER=n
#CONFIG_LOG_DYNAMIC_LEVEL_CONTROL=n
#CONFIG_ESP_MAIN_TASK_STACK_SIZE=7680
#CONFIG_DISABLE_HAL_LOCKS=y
