CONFIG_BT_ENABLED=y
CONFIG_BT_NIMBLE_ENABLED=y
CONFIG_BT_NIMBLE_50_FEATURE_SUPPORT=n
CONFIG_BT_NIMBLE_MAX_BONDS=1
CONFIG_BT_NIMBLE_SM_LEGACY=n
CONFIG_BT_NIMBLE_SM_SC=y
CONFIG_BT_NIMBLE_LL_CFG_FEAT_LE_ENCRYPTION=y
CONFIG_BT_NIMBLE_TRANSPORT_EVT_SIZE=257
CONFIG_BT_NIMBLE_SVC_GAP_DEVICE_NAME="esp32c3"
CONFIG_BLINK_LED_GPIO=y
CONFIG_BLINK_GPIO=13
CONFIG_ESPTOOLPY_FLASHFREQ="80m"
CONFIG_ESPTOOLPY_FLASHSIZE="4MB"
CONFIG_ESPTOOLPY_HEADER_FLASHSIZE_UPDATE=y
#CONFIG_ESPTOOLPY_BEFORE_NORESET=y
CONFIG_BOOTLOADER_APP_ROLLBACK_ENABLE=y
#CONFIG_PARTITION_TABLE_CUSTOM=y
#CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partition_4mb_ota_spiffs.csv"
#CONFIG_PARTITION_TABLE_FILENAME="partition_4mb_ota_spiffs.csv"
#CONFIG_ESPTOOLPY_BEFORE="no_reset"
CONFIG_ESPTOOLPY_HEADER_FLASHSIZE_UPDATE=y
CONFIG_DISABLE_HAL_LOCKS=y
CONFIG_FREERTOS_TASK_FUNCTION_WRAPPER=n
CONFIG_LOG_DYNAMIC_LEVEL_CONTROL=n
#CONFIG_ESP_MAIN_TASK_STACK_SIZE=7680